<tr>
    <td><%= @entrada.titulo %></td>
    <td><%= @entrada.contenido %></td>
    <td><%= link_to 'Show', @entrada %></td>
    <td><%= link_to 'Edit', edit_entrada_path(@entrada) %></td>
    <td><%= link_to 'Destroy', @entrada, method: :delete, data: { confirm: 'Are you sure?' }%></td>
</tr>