<p id="notice"><%= notice %></p>

<h1>Listing Entradas</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Contenido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entradas.each do |entrada| %>
      <tr>
        <td><%= entrada.titulo %></td>
        <td><%= entrada.contenido %></td>
        <td><%= link_to 'Show', entrada, class: 'btn btn-primary btn-xs'%></td>
        <td><%= link_to 'Edit', edit_entrada_path(entrada), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Destroy', entrada, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_entrada_path, id: 'nuevo',  remote: true, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Nueva Entrada
<% end %>
