<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @entrada.titulo %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @entrada.contenido %>
</p>

<%= link_to 'Edit', edit_entrada_path(@entrada) %> |
<%= link_to 'Back', entradas_path %>
